In [5]:
class student:
    def __init__(self,rollno,name):
        self.rollno=rollno
        self.name=name
        
    def display(self):  # user difene function
        print("Student rollno=",self.rollno," and Name =",self.name)

In [10]:
obj1=student(201,"John")
obj1.display()

Student rollno= 201  and Name = John

In [13]:
 Stud1=student(202, "Andrew")

In [14]:
Stud1.display()

Student rollno= 202  and Name = Andrew

In [15]:
Stud2=student(203,'Tom')   #this line will automatically invoke the initilization constructor
Stud2.display()

Student rollno= 203  and Name = Tom

In [16]:
Stud3=student(204,'Maria')   #this line will automatically invoke the initilization constructor
Stud3.display()

Student rollno= 204  and Name = Maria

In [21]:
Stud1.rollno

202

In [25]:
Stud2.name

'Tom'

In [24]:
Stud2.rollno

203

In [28]:
Stud3.rollno

204

In [39]:
class Employee:
    revenue=30000
    def __init__(self,empno,name,sal):
        self.empno=empno
        self.name=name
        self.sal=sal
    
        
    def display(self):
        print(self.empno," ",self.name," ",self.sal," ",self.revenue)

In [40]:
emp1=Employee(101,'Abhi',6000)
emp1.display()

emp2=Employee(102,'Akash',8000)
emp2.display()

emp3=Employee(103,'Ankur',4000)
emp3.display()

101   Abhi   6000   30000
102   Akash   8000   30000
103   Ankur   4000   30000

In [31]:
Employee.revenue

30000

In [38]:
emp1.revenue

30000