DBMS

In [1]:
import sqlite3

create database

In [2]:
db=sqlite3.connect('student_detail_database21Aug.db')

create cursor

In [3]:
cur=db.cursor()

In [4]:
cur.execute('create table student(id int primary key,name text,marks int)')

In [7]:
cur.execute("insert into student(id,name,marks) values(101,'john',80)")

In [8]:
db.commit()

In [11]:
cur.execute("insert into student(id,name,marks) values(102,'Jack',75)")

db.commit()

In [12]:
cur.execute("insert into student(id,name,marks) values(103,'dorsey',55)")

db.commit()

In [13]:
results=cur.execute("select * from student")

for i in results:
    print(i)

(101, 'john', 80)
(102, 'Jack', 75)
(103, 'dorsey', 55)

In [14]:
cur.execute("insert into student(id,name,marks) values(104,'Elon',78)")

db.commit()

In [15]:
cur.execute("insert into student values(105,'Grey',90),(106,'Richard',55),(107,'Branson',95)")

db.commit()

In [16]:
results=cur.execute("select * from student")

for i in results:
    print(i)

(101, 'john', 80)
(102, 'Jack', 75)
(103, 'dorsey', 55)
(104, 'Elon', 78)
(105, 'Grey', 90)
(106, 'Richard', 55)
(107, 'Branson', 95)

In [17]:
results=cur.execute("select * from student")

results.fetchall()

[(101, 'john', 80),
 (102, 'Jack', 75),
 (103, 'dorsey', 55),
 (104, 'Elon', 78),
 (105, 'Grey', 90),
 (106, 'Richard', 55),
 (107, 'Branson', 95)]

In [19]:
results=cur.execute("select * from student where id =101 ")
for i in results:
    print(i)

(101, 'john', 80)

In [20]:
results=cur.execute("select * from student where id= 102")

for i in results:
    print(i)

(102, 'Jack', 75)

In [21]:
results=cur.execute("select * from student where id= 105")

for i in results:
    print(i)

(105, 'Grey', 90)

In [22]:
results=cur.execute("select * from student where name= 'Jack'")

results.fetchone()

(102, 'Jack', 75)

In [23]:
results=cur.execute("select * from student where name= 'dorsey'")

results.fetchone()

(103, 'dorsey', 55)

In [24]:
results=cur.execute("select * from student where marks=78")

results.fetchone()

(104, 'Elon', 78)

In [25]:
results=cur.execute("select * from student where name in ('jack','John')")

for i in results:
    print(i)

In [28]:
results=cur.execute("select * from student where id in (101,102,103)")

for i in results:
    print(i)

(101, 'john', 80)
(102, 'Jack', 75)
(103, 'dorsey', 55)

In [29]:
results=cur.execute("select * from student")

for i in results:
    print(i)

(101, 'john', 80)
(102, 'Jack', 75)
(103, 'dorsey', 55)
(104, 'Elon', 78)
(105, 'Grey', 90)
(106, 'Richard', 55)
(107, 'Branson', 95)

In [31]:
results=cur.execute("select * from student order by name asc")

for i in results:
    print(i)

(107, 'Branson', 95)
(104, 'Elon', 78)
(105, 'Grey', 90)
(102, 'Jack', 75)
(106, 'Richard', 55)
(103, 'dorsey', 55)
(101, 'john', 80)

In [32]:
results=cur.execute("select * from student order by name desc")

for i in results:
    print(i)

(101, 'john', 80)
(103, 'dorsey', 55)
(106, 'Richard', 55)
(102, 'Jack', 75)
(105, 'Grey', 90)
(104, 'Elon', 78)
(107, 'Branson', 95)